html {
    text-align: center;
    text-transform: capitalize;
    font-size: 1.3em;
    font-weight: bold;
    letter-spacing: .5px;
    color: #d6b161;
    background-color: #efe0c0;
    border: 1px solid;
    border-radius: 5px;
}